
* {
    box-sizing: border-box;
    width: 100%
}


a {
    color: black;
    text-decoration: none;
}


/* [ON BIG SCREEN] */
/* navContainer */
#page-nav {
  width: 100%;
  background: white;
  position: sticky;
  top: 0;
}

/* Hide Hamburger */
#page-nav label, #hamburger {
  display: none;
}

/* Menu Items */
#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px; 
}
#page-nav ul li {
  display: inline;
  padding: 10px;

}
#page-nav ul li a {
  color: black;
  text-decoration: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 40em){
  /* Show Hamburger */
  #page-nav label {
    display: block;
    color: black;
    background: white;
    font-style: none;
    font-size: 20px;
    padding: 10px;
    width: 100%;
  }

  /* Break down menu items into vertical */
  #page-nav ul li {
    display: inline-block;
  }

  #page-nav ul li {
    border-top: 1px solid white;
  }

  /* Toggle show/hide menu on checkbox click */
  #page-nav ul {
    display: none;
  }

  #page-nav input:checked ~ ul {
    display: block;
  }
}


/*Content and side bars*/
html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

div {
    text-align: center;
}

.container {
  overflow: hidden;
}

.intro {
    height: 60px;
    padding: 5px;
    font-size: 24px;
}

.aboutMe {
    height: auto;
    font-size: 18px;
    padding: 10px;
}

.rightSidebar {
    display: none;
}


@media (min-width: 60em) {
  .intro {
    float: left;
    width: 20%;
    height: auto;
    color: white;
  }
  .aboutMe {
    float: left;
    color: black;
    width: 60%;
    height: auto;
    font-size: 22px;
  }

  .rightSidebar {
    float: left;
    width: 20%;
    height: auto;
  }
}





/* Follow Page */

.followContainer {
    width:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    column-width: 100%;

}

.twitter {
    width: 80px;
    height: 80px;
    border: solid 1px black;
    border-radius: 50px;
    display: flex-align;
    padding-top: 30px;
    box-shadow: 2px 2px 4px gray;
    margin: 20px;
    position: relative;
    -webkit-animation-name: onEntranceTwitter; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: onEntranceTwitter;
    animation-duration: 2s;
    background-color: rgb(29,202,255);

}


.linkedin {
    width: 80px;
    height: 80px;
    border: solid 1px black;
    border-radius: 50px;
    display: flex-align;
    padding-top: 30px;
    box-shadow: 2px 2px 4px gray;
    margin: 20px;
    position: relative;
    -webkit-animation-name: onEntranceLinkedin; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: onEntranceLinkedin;
    animation-duration: 2s;
    background-color: rgb(40,103,178);

}


.gitHub {
    width: 80px;
    height: 80px;
    border: solid 1px black;
    border-radius: 50px;
    display: flex-align;
    padding-top: 30px;
    box-shadow: 2px 2px 4px gray;
    margin: 20px;
    position: relative;
    -webkit-animation-name: onEntranceGithHub; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: onEntranceGitHub;
    animation-duration: 2s;


}

.devto {
    width: 80px;
    height: 80px;
    border: solid 1px black;
    border-radius: 50px;
    display: flex-align;
    padding-top: 30px;
    box-shadow: 2px 2px 4px gray;
    margin: 20px;
    position: relative;
    -webkit-animation-name: onEntranceDevto; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: onEntranceDevto;
    animation-duration: 2s;
    background-color: rgb(232,232,232);
}

.codePen {
    width: 80px;
    height: 80px;
    border: solid 1px black;
    border-radius: 50px;
    display: flex-align;
    padding-top: 30px;
    box-shadow: 2px 2px 4px gray;
    margin: 20px;
    position: relative;
    -webkit-animation-name: onEntranceCodePen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: onEntranceCodePen;
    animation-duration: 2s;
    background-color: rgb(209,209,209);

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes onEntranceTwitter {
  0%   {left:0px;}
  50%  {left:50px;}
  100% {left:0px;}
}

/* Standard syntax */
@keyframes onEntranceTwitter  {
  0%   {left:0px;}
  50%  {left:50px;}
  100% {left:0px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes onEntranceLinkedin {
  0%   {right:0px;}
  50%  {right:50px;}
  100% {right:0px;}
}

/* Standard syntax */
@keyframes onEntranceLinkedin  {
  0%   {right:0px;}
  50%  {right:8px;}
  100% {right:0px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes onEntranceGitHub {
  0%   {right:0px;}
  50%  {right:8px;}
  100% {right:0px;}
}

/* Standard syntax */
@keyframes onEntranceGitHub  {
  0%   {right:0px;}
  50%  {right:50px;}
  100% {right:0px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes onEntranceDevto {
  0%   {left:0px;}
  50%  {left:8px;}
  100% {left:0px;}
}

/* Standard syntax */
@keyframes onEntranceDevto  {
  0%   {left:0px;}
  50%  {left:8px;}
  100% {left:0px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes onEntranceCodePen {
  0%   {left:0px;}
  50%  {left:50px;}
  100% {left:0px;}
}

/* Standard syntax */
@keyframes onEntranceCodePen  {
  0%   {left:0px;}
  50%  {left:50px;}
  100% {left:0px;}
}




/* Portfolio Page */

.portfolioContent  {
  overflow: hidden;
  font-size: 26px;
}

portfolioCenter {
  align-items: center;
  height: auto;
  font-size: 18px;
}

.gif {
    display: block;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.gifMobile {
    display: none;
}


@media screen and (max-width: 40em) {

.portfolioContent  {
  font-size: 18px;
}

.portfolioCenter {
      font-size: 14px;
    }

 .gif {
      display: none;
    }

 .gifMobile {
     display: block;
     width: 90%;
     margin-left: auto;
     margin-right: auto;
 }

}
